/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 80px;
  padding-bottom: 20px;
}

.bg-info {
  padding: 3px;
}

.log-time {
  font-family: monospace;
  font-size: 80%;
}

.log-message {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.log-ol {
  counter-reset: li; /* Инициализируем счетчик */
  padding: 0; /* Удаляем  установленное по умолчанию левое поле*/
  list-style: none; /* Отменяем нумерацию установленную по умолчанию */
}

.log-li {
  position: relative; /* Создаем контекст для позиционирования элементов */
  margin-left: 35px; /* Даем каждому элементу списка отступ слева, что бы освободить пространство для нумерации */
}

.log-li:before {
  content: counter(li); /* В качестве данных используем счетчик */
  counter-increment: li; /* Увеличиваем значение счетчика на 1 */
  position: absolute;
  left: -45px;
  width: 40px;
  margin-top: 3px;
  color: #ccc;
  font-family: monospace;
  font-size: 80%;
  text-align: right;
  cursor: pointer;
}
